.validator-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.validator-box {
  height: 260px;
  width: 350px;
  padding: 10px;
  border: 0.5px solid #879dab;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0.3rem 0.3rem black;
}

.password-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.password-label {
  margin-right: 5px;
  font-family: 'Poppins','Helvetica','sans-serif'
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 12px;
}

.password-success {
  color: green;
}

.password-failed {
  color: red;
}

.password-show {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.submit-button-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
}

.submit-button{
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro",arial,sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5;
  padding: 0 12px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  transition: background 250ms,color 250ms;
  border-radius: 0.125rem;
  font-weight: 500;
  text-decoration: none;
}

.enabled-submit-button{
  background: #0c7ac0;
  color: #fff;
}

.disabled-submit-button{
  background: #879dab;
  color: #fff;
}
