
.validator-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.validator-box {
  height: 260px;
  width: 350px;
  padding: 10px;
  border: 0.5px solid black;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.password-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.password-label {
  margin-right: 5px;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 15px;
}

.password-success{
  color: green;
}

.password-failed{
  color: red;
}

.password-show{
display: flex;
justify-content: end;
}

.submit-button {
  width: 100%;
}